<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path plant.photo.path %>')">
  <div class="card-category">
    <%= plant.height + " cm" %>
  </div>
  <div class="card-description">
    <h2><%= plant.description %></h2>
  </div>
  <%= cl_image_tag plant.user.photo.path, height: 50, width: 50, crop: :fill,  class: "card-user avatar-large" %>
  <%= link_to "", plant_path(plant), class: "card-link" %>
</div>

<div class="card-title">
  <%= link_to plant_path(plant), class: "card-title" do %>
  <%= "#{plant.price}€ | " %><em><%= plant.name %></em>
  <% end %>
</div>
