<h1 class="center">Green, green, green everywhere</h1>

<div class="card-wrapper padded">
  <div class="container">
    <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://ghk.h-cdn.co/assets/15/33/980x490/landscape-1439490128-plants.jpg');">
              <div class="card-category">
              <%= plant.height + " cm" %>
              </div>
              <div class="card-description">
                <p><%= plant.description %></p>
              </div>
              <img class="card-user avatar" src="https://pbs.twimg.com/profile_images/378800000644789989/ce8d603ebd257ab15721e9c8f71718d4_400x400.jpeg">
            <a class="card-link" href="#" ></a>
          </div>
          <div class="card-title">
            <%= "#{plant.price}€" + " | " %><em><%= plant.name %></em><%= ", " + plant.location %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

