<div class="container navbar-marged no-padding ">
  <div class="row">
    <div class="col-lg-4">
      <div class="plant-aside" style="background-image: url('<%= cl_image_path(@plant.photo.path, width: 500, height: 500, crop: :fill)%>');">
      </div>

    </div>





    <div class="col-lg-4">
      <div class="wrapper_plant_infos no-padding">
        <div class="row">
            <h3 class="plant-title text-center">
              <%= @plant.name  %> - <%= "#{@plant.price}€"%>
            </h3>
        </div>
        <div class="row">
          <br>
          <p class="fa fa-arrows-v" aria-hidden="true" icon-large>  <%= @plant.height + "cm" %>
          </p>
          <br>
          <p class="fa fa-book" aria-hidden="true">  <%= @plant.description %></p>
          <br>
          <p class="fa fa-map-marker" aria-hidden="true">  <%= @plant.location %> </p>
          <hr>
        </div>
        <div class="row">
          <div class="avatar text-center">
             <% if @plant.user.photo %>
                <%= cl_image_tag @plant.user.photo.path, height: 50, width: 50, crop: :fill,  class: "card-user avatar-large" %>
            <% end %>
          </div>
          <div class="user-names text-center">
            <% if @plant.user.first_name && @plant.user.last_name %>
              <h4><%= @plant.user.first_name + " " + @plant.user.last_name %> </h4>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="plant-reviews">
            <h4> Reviews </h4>
              <% @plant.reviews.each do |review| %>
                <div class="review-comment">
                  <p><% review.rate.to_i.times do |t| %>
                      <i class="fa fa-star"></i>
                    <% end %>
                    <b> <%= review.user.first_name %> <%= review.user.last_name%> </b>
                  </p>
                  <p>Description: <%= review.description%></p>
                </div>
              <% end %>
              <%= link_to "Comment", new_plant_review_path(@plant) , class: "btn btn-treehouse" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
     <div class="map-plant">
       <div style= "height:78vh width:120vh">
        <div class="form-book">
        <%= simple_form_for [@plant, @booking] do |f| %>


          <%= f.input :pick_up, as: :string, placeholder: "dd/mm/yyyy", input_html: {class: 'datepicker'} %>
          <%= f.input :bring_back, as: :string, placeholder: "dd/mm/yyyy", input_html:{class: 'datepicker'} %>
          <%= f.input :message, :cols => "16", :rows => "3" %>
          <%= f.submit "Book", class: "btn-treehouse"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
  </div>

    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 270px;"></div>
  <% content_for(:after_js) do %>
    <script>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
          }
        });
      });
    </script>
 <% end %>
</div>
